<% if store_open? %>
  <div class="hours hours--opened">
    <div class="hours__content">We are open!</div>
  </div>
<% else %>
  <div class="hours hours--closed">
    <div class="hours__content">Sorry, we are closed!</div>
  </div>
<% end %>


<div class="grid grid--center">
  <div class="grid__cell grid__cell--80">
    <div class="header">
      <div class="grid grid--center">
        <div class="grid__cell grid__cell--33">
          <div class="header__links">
          </div>
        </div>

        <div class="grid__cell grid__cell--33">
          <div class="header__logo">
            <div class="header__logo-text">WDV</div>
          </div>
        </div>

        <div class="grid__cell grid__cell--33">
          <div class="header__cart">
            <span class="icon icon--cart"></span>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<div class="grid grid--center">
  <div class="grid__cell grid__cell--80">
    <div class="banner">
      <div class="banner__container banner__container--text">
        <div class="banner__content">
          <div class="banner__title">Need Weed?</div>
          <div class="banner__description">
            We deliver great buds to your door in <strong>less than an hour</strong> in downtown Vancouver, Canada.
          </div>
          <div class="banner__delimiter"></div>
          <div class="banner__hours">
            We are open <strong>Friday</strong> and <strong>Saturday</strong> from <strong>8pm to 4:20am</strong>
          </div>
          <div class="banner__action">
            <a class="button">Area of delivery</a>
          </div>
        </div>
      </div>
      <div class="banner__container banner__container--cover" style="background-image: url(<%= asset_path('home-cover.jpeg') %>)">
      </div>
    </div>
  </div>
</div>

<div class="section">
  <div class="grid grid--center">
    <div class="grid__cell grid__cell--80">
      <h2 class="title title--section">Flowers</h2>

      <div class="product-grid">

        <div class="product-grid__cell">
          <div class="product">
            <div class="product__icon">
              <img src="<%= asset_path('flowers.svg') %>" />
            </div>

            <div class="product__details">
              <div class="product__name">
                Green Crack - 1gram
              </div>
              <div class="product__type product__type--sativa">
                Indica
              </div>
            </div>

            <div class="product__price">
              $12
            </div>
          </div>
        </div>

        <div class="product-grid__cell">
          <div class="product" data-controller="productItem" data-action="click->productItem#onClickProduct">
            <div class="product__icon">
              <img src="<%= asset_path('flowers.svg') %>" />
            </div>

            <div class="product__details">
              <div class="product__name">
                Lemon Haze - 1gram
              </div>
              <div class="product__type product__type--sativa">
                Sativa
              </div>
            </div>

            <div class="product__price">
              $12
            </div>
          </div>
        </div>

        <div class="product-grid__cell">
          <div class="product">
            <div class="product__icon">
              <img src="<%= asset_path('flowers.svg') %>" />
            </div>

            <div class="product__details">
              <div class="product__name">
                Purple Gold - 1gram
              </div>
              <div class="product__type product__type--sativa">
                Indica
              </div>
            </div>

            <div class="product__price">
              $15
            </div>
          </div>
        </div>

        <div class="product-grid__cell">
          <div class="product">
            <div class="product__icon">
              <img src="<%= asset_path('flowers.svg') %>" />
            </div>

            <div class="product__details">
              <div class="product__name">
                Sour Tangle - 6gram
              </div>
              <div class="product__type product__type--sativa">
                Indica
              </div>
            </div>

            <div class="product__price">
              $60
            </div>
          </div>
        </div>

      </div>


      <h2 class="title title--section">Pre-rolls</h2>

      <div class="product-grid">

        <div class="product-grid__cell">
          <div class="product">
            <div class="product__icon">
              <img src="<%= asset_path('pre-rolls.svg') %>" />
            </div>

            <div class="product__details">
              <div class="product__name">
                Silver Haze - 0.5gram
              </div>
              <div class="product__type product__type--sativa">
                Hybrid
              </div>
            </div>

            <div class="product__price">
              $6
            </div>
          </div>
        </div>

        <div class="product-grid__cell">
          <div class="product">
            <div class="product__icon">
              <img src="<%= asset_path('pre-rolls.svg') %>" />
            </div>

            <div class="product__details">
              <div class="product__name">
                Shake - 0.5gram
              </div>
              <div class="product__type product__type--sativa">
                Mixed
              </div>
            </div>

            <div class="product__price">
              $2
            </div>
          </div>
        </div>

        <div class="product-grid__cell">
        </div>


      </div>


      <h2 class="title title--section">First Aid</h2>

      <div class="product-grid">

        <div class="product-grid__cell">
          <div class="product">
            <div class="product__icon">
              <img src="<%= asset_path('lighter.svg') %>" />
            </div>

            <div class="product__details">
              <div class="product__name">
                Lighter Clipper
              </div>
              <div class="product__type product__type--sativa">
                White
              </div>
            </div>

            <div class="product__price">
              $3
            </div>
          </div>
        </div>

        <div class="product-grid__cell">
          <div class="product">
            <div class="product__icon">
              <img src="<%= asset_path('rolling-papers.svg') %>" />
            </div>

            <div class="product__details">
              <div class="product__name">
                Rolling Papers OCB
              </div>
              <div class="product__type product__type--sativa">
                Filters included
              </div>
            </div>

            <div class="product__price">
              $4
            </div>
          </div>
        </div>

        <div class="product-grid__cell">
        </div>


      </div>

      <br/><br/><br/><br/>


    </div>
  </div>
</div>

<div id="dialog" style="display: none">
  This is a test
</div>
