<div class="grid grid--center">
  <div class="grid__cell grid__cell--80-at-medium">
    <div class="banner">
      <div class="banner__container banner__container--text" style="background-image: url(<%= asset_path('home-cover.jpeg') %>)">
        <div class="banner__content">
          <div class="banner__title">Need Weed?</div>
          <div class="banner__description">
            We deliver great buds to your door in <strong>less than an hour</strong> in <strong>downtown</strong> Vancouver, Canada.
          </div>
          <div class="banner__delimiter"></div>
          <div class="banner__hours">
            We are open <strong>Friday</strong> and <strong>Saturday</strong> from <strong>8pm to 4:20am</strong>
          </div>
        </div>
      </div>
      <div class="banner__container banner__container--cover" style="background-image: url(<%= asset_path('home-cover.jpeg') %>)">
      </div>
    </div>
  </div>
</div>



<div class="section">
  <div class="grid grid--center">
    <div class="grid__cell grid__cell--80">

      <div class="products-why">
            <div class="products-why__content">
              <div class="products-why__icon">
                <i class="icon icon--ingot"></i>
              </div>
              <div class="products-why__label">Great Quality</div>
            </div>
            <div class="products-why__content">
              <div class="products-why__icon">
                <i class="icon icon--bicycle"></i>
              </div>
              <div class="products-why__label">Free Delivery</div>
            </div>
            <div class="products-why__content">
              <div class="products-why__icon">
                <i class="icon icon--boy-broad-smile"></i>
              </div>
              <div class="products-why__label">No minimum required</div>
            </div>
            <div class="products-why__content">
              <div class="products-why__icon">
                <i class="icon icon--hand-shake"></i>
              </div>
              <div class="products-why__label">You don't have to tip our drivers</div>
            </div>
      </div>

      <div class="product-grid">

        <% @products.each do |product| %>
          <div class="product-grid__cell" data-controller="productItem" data-productItem-product-id="<%= product.id %>">
            <div class="product" data-action="click->productItem#onClickProduct">
              <div class="product__icon">
                <img src="<%= asset_path("icons/#{product.icon}") %>" />
              </div>

              <div class="product__details">
                <div class="product__name">
                  <%= product.title %>
                </div>
                <div class="product__type product__type--sativa">
                  <%= product.short_description %>
                </div>
              </div>

              <div class="product__price">
                <%= product.unit_price_humanize %>
              </div>
            </div>
          </div>
        <% end %>
      </div>

      <div class="products-shop__no-bullshit">
        Yes, we only have <%= @products.count %> products, that's it, forget the bullshit.
      </div>

      <div class="warning clearfix">
        <div class="warning__gif">
          <img src="<%= asset_path('gifs/smoking.gif') %>" />
        </div>
        <ul class="warning__list">
          <li>We ask for an ID (19+) upon delivery!</li>
          <li>We currently accept only cash</li>
          <li>Our drivers don't carry a lot of cash for security reasons, make sure you have the change</li>
        </ul>
      </div>

      <br/><br/>
      <br/><br/>

    </div>
  </div>
</div>

