<div class="product-summary">
  <div class="product-summary__details">
    <div class="product-summary__title"><%= @product.title %></div>
    <div class="product-summary__short-description"><%= @product.short_description %></div>

    <% if @product.dosage? %>
      <div class="product-summary__dosage"><%= @product.dosage %></div>
    <% end %>

    <div class="product-summary__description"><%= simple_format(@product.description) %></div>

    <% if @product.effects? %>
      <div class="product-summary__effects">
        Effects
      </div>

      <%= render partial: 'products/effects', collection: @product.effects, as: :effect %>
    <% end %>

  </div>
</div>
