<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />

    <!-- Global Meta -->
    <title>Weed Delivery Vancouver - Great buds delivered to your door.</title>
    <meta name="description" content="We deliver great buds to your door in less than an hour in downtown Vancouver, Canada. We are open Friday and Saturday from 8pm to 4:20am"/>

    <!-- Facebook Meta -->
    <meta property="og:url" content="http://weed-delivery-vancouver.ca/" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Weed Delivery Vancouver - Great buds delivered to your door." />
    <meta property="og:description" content="We deliver great buds to your door in less than an hour in downtown Vancouver, Canada. We are open Friday and Saturday from 8pm to 4:20am" />
    <meta property="og:image" content="<%= asset_url('home-cover.jpeg') %>" />

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'app', media: 'all' %>
    <%= render 'application/favicon' %>
  </head>

  <body>
    <div class="tingle-content-wrapper">
      <% if store_open? %>
        <div class="hours hours--opened">
          <div class="hours__content">We are open!</div>
        </div>
      <% else %>
        <div class="hours hours--closed">
          <div class="hours__content">Sorry, we are closed!</div>
        </div>
      <% end %>

      <div class="call-us">
        Place your order by SMS / Call <strong><%= store_phone %></strong>
        <div class="call-us__actions">
          <a href="sms:<%= store_phone_for_hyperlink %>" class="button">SMS</a>
          <a href="tel:<%= store_phone_for_hyperlink %>" class="button">Call</a>
        </div>
      </div>


      <div class="page-layout">
        <div class="grid grid--center">
          <div class="grid__cell grid__cell--80">
            <div class="header">
              <div class="grid grid--center">

                <div class="grid__cell grid__cell--33">
                  <a href="<%= root_path %>" class="header__logo">
                    <div class="header__logo-text">WDV</div>
                  </a>
                </div>

              </div>
            </div>
          </div>
        </div>

        <%= yield %>
      </div>
    </div>
  </body>

  <%= javascript_include_tag 'app' %>

</html>
