<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Starter</title>

    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'dashboard', media: 'all' %>
  </head>

  <body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">Dashboard</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div id="navbar" class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="store" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Store
            </a>
            <div class="dropdown-menu" aria-labelledby="store">
              <%= link_to 'Open/Close', root_path, class: 'dropdown-item' %>
              <%= link_to 'Products', dashboard_products_path, class: 'dropdown-item' %>
            </div>
          </li>
        </ul>
        <div class="my-2 my-lg-0">
          <% if store_open? %>
            The shop is currently opened
          <% else %>
            The shop is currently closed
          <% end %>
        </div>
      </div>
    </nav>

    <div class="container">
      <% flash.each do |type, value| %>
        <%= content_tag :div, value, class: dashboard_flash_class(type) << ' mt-2 mb-2' %>
      <% end %>
    </div>

    <div class="mb-5 mt-5"></div>

    <%= yield %>
  </body>

  <%= javascript_include_tag 'app' %>

</html>
